

  <h1 class="dog-detials">{{name}}</h1>
  <h1><input class="edit-details" type="text" name="name" value="{{name}}" hidden="true"></h1>
  <h3 class="dog-detials">{{breed}}</h3>
  <h3><input class="edit-details" type="text" name="breed" value="{{breed}}" hidden="true"></h3>
  <span hidden="true" id="dogID">{{id}}</span>
  <br>
  <p>
    <a href="#" id="editDogger">Edit this dogger</a>
    <a href="#" id="submitEdit" hidden="true">Submit dogger update</a>
    <br>
    <br>
    <a href="/dogs">Back to Doggies</a>
  </p>
  <br>
  <a href="/">Home</a>
  <a href="/auth/logout">Logout</a>
