
<section>
  <h1>{{title}}</h1>
  {{#if none}}
    <h3>{{none}}</h3>
  {{/if}}
  <ul class="dog-list">
    {{#if dogs}}
    {{#each dogs}}
    <li>
      <span><a href="/dogs/{{id}}">{{name}}</a>: is a {{breed}}</span>
      <button type="button" name="delete dog" title="Remove Dogger" data-id="{{id}}">Delete</button>
    </li>
    {{/each}}
    {{/if}}
  </ul>
  <p><a href="/dogs/new">Add a doger</a></p>
  <br>
  <a href="/">Home</a>
  <a href="/auth/logout">Logout</a>
</section>
