

  <h1>{{title}}</h1>
  <br>
  <ul>
    {{#each dogs}}
    <li><a href="/dogs/{{id}}">{{name}}</a> is a {{breed}} <button type="button" name="delete dog" title="Remove Dogger" data-id="{{id}}">Delete</button></li>
    {{/each}}
  </ul>
  <p><a href="/dogs/new">Add a doger</a></p>
  <br>
  <a href="/">Home</a>
  <a href="/auth/logout">Logout</a>
